<h1>Edit Job</h1>
<%= form_for [@company, @job] do |f| %>
  f.collection_select :id, @companies
<% end %>

<%= render partial: 'form' %>
<select name='job[company_id]' id='company_dropdown'>
      <% @companies.each do |company| %>
  <option>
    <%= company.name %>
  </option>
  <% end %>
</select>
