<h2 class='text-center'>Edit <%= @company.name %> here!</h2>

<div class="card mx-auto" style="width: 18rem;">
  <div class="card-body">
    <p class="card-text"><%= render partial: "form" %></p>
  </div>
</div>
