<h1>Job Categories</h1>


<div>
  <% @categories.each do |category| %>
  <div id="category_<%= category.id %>">
    <p><%= category.title %></p>
    <p><%= category.jobs.count %> Jobs</p>
    <%= link_to "Edit", edit_category_path(category) %>

  </div>
  <% end %>
</div>
